{{>headerlinks}}

<body>

    <!-- navbar -->
    {{>navbar}}

    <!-- header -->
    <header class="startup">
        <div class="home">
            <h1 class="header-title">
                Essential <br> <span>Oils</span> <br> EASILY
            </h1>
        </div>
    </header>

    <!-- About -->
    <section id="about">
        <div class="section-aniket">
            <div class="container-aniket">
                <div class="content-section">
                    <div class="title">
                        <h1>VedaOils - Trusted Worldwide</h1>
                    </div>
                    <div class="content">
                        <h3>Site that connects Seeker to keeper !</h3>
                        <p> VedaOils is one of the leading manufacturers, suppliers, and exporters of Natural Essential
                            Oils & Raw ingredients. What Distinguishes Us from other Oil manufacturing units is the care
                            and caution with which oils are composed in our state-of-the-art machinery.
                        </p>
                        <br>
                        <br>
                        <div class="button">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="image-section">
                    <img src="./images/bg.jpg" alt="">
                </div>
            </div>
        </div>

    </section>


    <!-- Items -->

    <div class="items">
        <h1 style="display: flex; justify-content: center">Collection List</h1>
        <div class="items" style="display: flex; flex-wrap: wrap;">
            {{#each Oil_List}}
                <div class="product-card">
                    <div class="product-front-image">
                        <div class="front-image">
                            <img alt="" src="./images/{{this.image}}">
                        </div>
                    </div>
                    <div class="product-details">
                        <div class="brand-name">{{this.name}}</div>
                        <div class="brand-desc">{{this.botname}}</div>
                        <div class="color-details">{{this.size}}ml</div>
                        <div>
                            <div class="price-info-sec">
                                {{#if this.sale_price}}
                                <div class="price">₹{{this.sale_price}}</div>
                                <div class="cut-off">₹{{this.price}}</div>
                                <div class="discount-percent"><span>{{this.discount}}% off</span></div>
                                {{else}}
                                <div class="price">₹{{this.price}}</div>
                                {{/if}}
                            </div>
                        </div>
                        <form action="/add_to_cart" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <input type="hidden" name="name" value="{{this.name}}">
                            <input type="hidden" name="image" value="{{this.image}}">
                            <input type="hidden" name="price" value="{{this.price}}">
                            <input type="hidden" name="sale_price" value="{{this.sale_price}}">
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit" class="btn btn-primary">Add To Cart</button>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>


    <!-- Footer -->

    {{>footer}}

    <script src="./js/script.js"></script>

</body>