{{>headerlinks}}

<body>

    <!-- navbar -->
    {{>navbar}}

    <div class="my-cart">
        <div class="cart-open">
            <div class="heading">
                <h2>Your Shopping Cart(3)</h2>
                <i class="fas fa-close"></i>
            </div>
            <div class="divide">

            </div>
            <div class="items">
                {{#each Cart_List}}
                    <div class="item">
                        <img src="./images/{{this.image}}" alt="">
                        <div class="details">
                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum sunt</p>
                            <div class="price">
                                <p>{{this.quantity}} x {{this.price}}</p>
                                <i class="fas fa-trash"></i>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                {{/each}}
            </div>
            <div class="checkout">
                <div class="subtotal">
                    <h4>SUB TOTAL</h4>
                    <p>x Rs. 399</p>
                </div>
                <button><h2>CHECK OUT</h2></button>
            </div>
        </div>
    </div>

    <!-- header -->
    <header>
        <div class="header">
            <h1 class="header-title">
                Essential <br> <span>Oils</span> <br> EASILY
            </h1>
        </div>
    </header>

    <!-- About -->
    <section id="about">
        <div class="section-aniket">
            <div class="container-aniket">                
                <div class="content-section">
                    <div class="title">
                        <h1>VedaOils - Trusted Worldwide</h1>
                    </div>
                    <div class="content">
                        <h3>Site that connects Seeker to keeper !</h3>
                        <p> VedaOils is one of the leading manufacturers, suppliers, and exporters of Natural Essential
                            Oils & Raw ingredients. What Distinguishes Us from other Oil manufacturing units is the care
                            and caution with which oils are composed in our state-of-the-art machinery.
                        </p>
                        <br>
                        <br>
                        <div class="button">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="image-section">
                    <img src="./images/bg.jpg" alt="">
                </div>
            </div>
        </div>

    </section>


    <!-- Items -->

    <div class="items">
        <h1>Collection List</h1>
        <div class="container">
            {{#each Oil_List}}
                <div class="drop" style="--clr: #ff0f5b;">
                    <div class="content">
                        <div class="img">
                            <img src="./images/{{this.image}}" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, illum!</p>
                        {{#if this.sale_price}}
                            <h2>₹{{this.sale_price}}</h2>
                            <h3 style="text-decoration: line-through;">₹{{this.price}}</h3>
                        {{else}}
                            <h2>₹{{this.price}}</h2>
                        {{/if}}

                        <form action="/add_to_cart" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <input type="hidden" name="name" value="{{this.name}}"> 
                            <input type="hidden" name="image" value="{{this.image}}">
                            <input type="hidden" name="price" value="{{this.price}}">
                            <input type="hidden" name="sale_price" value="{{this.sale_price}}">
                            <input type="hidden" name="quantity" value="1">
                            <input type="submit" value="Add To Cart">
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>



    <!-- Footer -->

    {{>footer}}

    <script src="./js/script.js"></script>
</body>

</html>